.review-form-container {
  background-color: #3eda8c;
  padding: 1rem;
  border-top-right-radius: 6rem;
  border-bottom-left-radius: 6rem;
  width: 17rem;
}

.review-form-title {
  color: #505357;
  margin: 0;
  font-weight: Questrial;
  text-align: start;
  font-size: 1.5rem;
}

.review-form {
  margin: 0 1rem;
}

.review-form-input {
  margin-bottom: 0.5rem;
}

.review-form-input:focus {
  outline: none;
}

.review-form-input {
  border: 1px solid #0e9919;
  border-radius: 1rem;
  text-align: start;
  box-shadow: 0px 1px 3px 0px #0e9919;
  font-size: 1.1rem;
  font-family: Mina;
}

.review-form-buttons-box {
  display: flex;
  justify-content: flex-end;
}

.close-review-form-button, .review-form-input-button {
  border: 2px solid white;
  background-color: #e7961d;
  border-radius: 1rem;
  color: white;
  text-decoration: none;
  font-size: 1.1rem;
  font-family: Mina-Bold;
  padding: 0.1rem 0.7rem;
  height: 2.5rem;
  margin-top: 1.4rem;
}

.review-form-input-button {
  background-color: #1dc9e7;
  margin-right: 1rem;
}

/******************
*** UPDATE FORM ***
******************/

.event-form-update-container {
  background-color: #3eda8c;
  padding: 1rem;
  border-top-right-radius: 6rem;
  border-bottom-left-radius: 6rem;
  width: auto;
  margin: 1rem 1rem 2rem 1rem;
}

.event-form-update-title {
  margin: 0;
  color: #505357;
  font-weight: Questrial;
  text-align: center;
  font-size: 2rem;
}

.event-update-form {
  display: flex;
  color: #505357;
  flex-direction: column;
  align-items: center;
  margin: 0 1rem;
}

.event-update-input, .event-update-input-image,
.event-update-select-input, .event-update-textarea-input {
  border: 1px solid black;
  border-radius: 1rem;
  text-align: center;
  box-shadow: 0px 1px 3px 0px black;
  font-size: 1.1rem;
  font-family: Mina;
  width: 15rem;
  margin-top: 1.5rem;
}

.event-update-input:focus, .event-update-input-image:focus,
.event-update-select-input:focus, .event-update-textarea-input:focus {
  outline: none;
}

.event-update-input-image {
  width: 20rem;
}

.event-update-select-input {
  width: 10rem;
}

.review-form-buttons-box {
  display: flex;
  justify-content: flex-end;
}

.event-form-update-input-button, .event-form-update-back-button {
  border: 2px solid white;
  background-color: #e7961d;
  border-radius: 1rem;
  color: white;
  text-decoration: none;
  font-size: 1.1rem;
  font-family: Mina-Bold;
  padding: 0.1rem 0.7rem;
  height: 2.5rem;
  margin-top: 1.4rem;
}

.event-form-update-input-button {
  background-color: #1dc9e7;
  margin-right: 1rem;
}
