.layout-container {
  position: fixed;
  overflow: scroll;
  width: 100%;
  height: 100vh;
  z-index: 2;
}

/*************
*** HEADER ***
*************/

.header-box {
  display: flex;
  position: fixed;
  height: 3.2rem;
  justify-content: space-between;
  background-color: #26afe6;
  width: 100%;
  border-bottom: 1px solid #2983d8;
}

.burger-menu-and-buttons-box {
  display: flex;
  
}

.logos-box {
  display: flex;
  align-items: center;
  background-color: #26afe6;
  width: 10.5rem;
  border-top-right-radius: 1rem;
  border: none;
  padding: 0;
}

.logos-box:focus {
  outline: none;
}

.overlay {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: transparent;
  z-index: 9;
}

.layout-burguer-menu {
  display: flex;
  flex-direction: column;
  position: fixed;
  margin-top: 3.2rem;
  padding: 0 2rem 1rem 2.35rem;
  background-color: #b7f5fa;
  line-height: 2rem;
  border-bottom-right-radius: 1rem;
  border-bottom-left-radius: 1rem;
  z-index: 30;
}


.burguer-menu-link, .logout-button {
  font-family: Questrial;
  text-decoration: none;
  color: #1d64e7;
  font-size: 1.3rem;
  margin-top: 0.3rem;
}

.logout-button{
  text-align: left;
  color: red;
  padding: 0;
  background-color: #b7f5fa;
  border: none;
}

.img-profile-box {
  width: 2.75rem;
  height: 2.75rem;
  border: 1px solid rgb(17, 118, 158);
  box-shadow: 0 0 2px 1px #6ae717cb;
  border-radius: 1.5rem;
  margin: 0.20rem 0.30rem 0.25rem 0.25rem;
  object-fit: cover;
}

.img-profile-box:focus {
  outline: none;
}

.layout-profile-button {
  padding: 0;
  z-index: 10;
}

/*************
*** NAVBAR ***
*************/

.navbar-box {
  display: flex;
  width: 100%;
  height: 2.5rem;
  position: fixed;
  left: 0;
  bottom: 0;
}

.icon-button {
  background-color: #26afe6;
  display: flex;
  justify-content: center;
  align-items: center;
  border-color: black;
  width: 100%;
  text-decoration: none;
}

.icon-button:focus {
  outline: none;
}

.icon-button:active {
  background-color: #fad6b7;
}

.icon-button > h3 {
  margin: 0.7rem 0 0.7rem 0.3rem;
  font-size: 1rem;
  font-family: Questrial;
  color: #505357;
  letter-spacing: 0.1rem;
}

.surfers {
  border-top-left-radius: 1rem;
  border: 1px solid #2983d8;
}

.beaches {
  border: 1px solid #2983d8;

}

.events {
  border-top-right-radius: 1rem;
  border: 1px solid #2983d8;
}