.header-container {
  display: flex;
  justify-content: space-between;
  background-color: #067EED;
  width: 100%;
  border-bottom: 1px solid black;
}

.logos-box {
  background-color: #067EED;
  border: none;
  padding: 0;
}

.logos-box:focus {
  outline: none;
}

.logos-box:active {
  background-color: white;
  border-top-right-radius: 1rem;
  border-color: white;
}


.logos {
  background-color: #067EED;
}

.img-profile-box {
  width: 2.75rem;
  height: 2.75rem;
  border-radius: 1.5rem;
  margin: 0.25rem;
}

.img-profile-box:focus {
  outline: none;
}