.navbar-container {
  display: flex;
  width: 100%;
}

.icon-button {
  background-color: #067EED;
  display: flex;
  justify-content: center;
  align-items: center;
  border-color: black;
  width: 100%;
}

.icon-button:focus {
  outline: none;
}

.icon-button:active {
  background-color: white;
}

.icon-button > h3 {
  margin: 0.7rem 0 0.7rem 0.3rem;
  font-size: 1rem;
}

.surfers {
  border-top-left-radius: 1rem;
  border-right: 1px solid black;
}

.beaches {
  border-left: 1px solid black;
  border-right: 1px solid black;

}

.events {
  border-top-right-radius: 1rem;
  border-left: 1px solid black;
}