.about-us-container {
  background-color: rgb(195, 255, 215);
}

.about-us-container, .about-us-header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-us-header {
  background-color: rgb(52, 180, 168);
  width: 100vw;
  margin-top: 3rem;
  padding-bottom: 1rem;
  border-bottom-left-radius: 11.5rem;
}

.about-us-title {
  color: white;
  font-size: 3rem;
  margin: 1rem 0;
  font-family: Questrial;
}

.about-us-image {
  width: 10rem;
  border-radius: 5rem;
}

.about-us-description-box {
  width: 100%;
  background-color: turquoise;
  border-bottom-right-radius: 11.5rem;
  border-top-left-radius: 11.5rem;
  font-family: Mina;
}

.separator-line {
  padding: 1rem;
}

.about-us-description {
  padding: 2rem;
  font-size: 1.2rem;
}

.about-us-slogan-box {
  background-color: rgb(72, 253, 235);
  width: 100%;
  border-top-right-radius: 11.5rem;
  border-bottom-left-radius: 11.5rem;
  margin-bottom: 2.5rem;
  font-family: Mina;
}

.about-us-slogan {
  font-size: 1.5rem;
  padding: 4rem 3rem;
  text-align: center;
  font-weight: bolder;
}