.beaches-list-inside-background {
  height: 100%;
  background-color: #51d9f1;
}

.beaches-list-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 3.2rem 0;
  background-color: #51d9f1;
  height: auto;
}