.events-list-inside-background {
  background-color: #51d9f1;
  height: 100%;
}

.events-list-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 3.2rem 0;
  background-color: #51d9f1;
}

.events-list-cart-container {
  padding: 1rem 1rem;
  margin-bottom: 0.6rem;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: auto;
  height: 20rem;
  background-color: #e7c817cb;
  border-top-right-radius: 8rem;
  border-bottom-left-radius: 10rem;
}