.event-profile-container {
  margin: 3.2rem 0 4rem 0;
}

.event-profile-image {
  width: 100%;
  height: 12rem;
  border-bottom-right-radius: 6rem;
  object-fit: cover;
}

.event-join-button {
  background-color: rgb(2, 114, 206);
  border-radius: 1rem;
  font-size: 1.3rem;
}
.event-join-button:active {
  transform: scaleX(10px);
  box-shadow: 0 0 2px 1px black;
}

.event-join-button:focus {
  outline: none;
}