.login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  margin: 15% 0 0 7%;
}

.logo-waves {
  margin-top: 2rem;
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 0.7rem;
}

.login-input {
  border: 1px solid black;
  border-radius: 1rem;
  text-align: center;
  box-shadow: 0px 1px 3px 0px black;
  margin-top: 4rem;
  font-size: 1.1rem;
  font-family: Mina;
  height: 1.7rem;
}

input:first-child {
  margin-top: 1.4rem;
}

.login-form-notification {
  font-size: 1rem;
  font-family: Mina;
  border-radius: 1rem;
  background-color: #d12929;
  box-shadow: 0px 1px 3px 0px black;
  color: white;
  text-align: center;
  padding: 0.3rem;
  margin: 2rem 0 0 0;
  width: 15rem;
}

.input-login-button {
  font-family: Mina-Bold;
  margin-top: 3rem;
  border: 2px solid white;
  border-radius: 1rem;
  background-color: #26afe6;
  color: white;
  font-size: 1.3em;
  height: 2rem;
  width: 5rem;
}

.input-button:focus {
  outline: none;
}

.link-signup {
  font-family: Questrial;
  text-decoration: none;
  font-size: 1.2rem;
  margin-top: 1rem;
  text-align: center;
  color: #1d64e7;
}

.login-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 0.8rem;
  margin-top: 4rem;
}