.signup-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  margin: 0 0 0 15%;
}

.title {
  font-size: 5rem;
  margin: 2rem 0 3rem 0;
}

.signup-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input {
  border: 1px solid black;
  border-radius: 1rem;
  text-align: center;
  box-shadow: 0px 1px 3px 0px black;
  margin-top: 3rem;
  font-size: 1.1rem;
  height: 1.7rem;
}

.input-button {
  margin-top: 3rem;
  border: 1px solid white;
  background-color: #0D66B9;
  color: white;
  font-size: 1.3em;
  height: 2rem;
  width: 5rem;
}

.signup-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 0.8rem;
  margin-top: 3rem;
}