.surfers-list-inside-background {
  background-color: #51d9f1;
  height: 100%;
}

.surfers-list-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 3.2rem 0;
  background-color: #51d9f1;
  height: auto;
}