.update-profile-form-container {
  padding: 2.8rem 0 2rem 0;
  height: 100%;
}

.update-profile-form-title {
  font-family: Questrial;
  font-size: 2.4rem;
  padding: 1rem;
  margin: 0;
  color: white;
}

.update-profile-form-notification {
  font-size: 1.1rem;
  font-family: Mina;
  border-radius: 1rem;
  background-color: #d12929;
  color: white;
  text-align: center;
  padding: 0.3rem;
}

.update-profile-form-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(20, 113, 220, 0.616);
  margin: 3rem;
  border-radius: 2rem;
}

.update-profile-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}

.update-profile-label-input-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.update-profile-form-label {
  font-family: Questrial;
  font-size: 1.3rem;
  margin: 0;
  color: white;
  letter-spacing: 0.1rem;
}

.update-profile-form-input {
  border: 1px solid #096cee;
  border-radius: 1rem;
  text-align: center;
  box-shadow: 0px 1px 3px 0px #096cee;
  font-size: 1.1rem;
  font-family: Mina;
  margin-bottom: 1rem;
  width: 15rem;
}
.update-profile-form-input:focus {
  outline: none;
}

.with-paragraph {
  margin: 0
}

.update-profile-form-paragraph {
  font-family: Mina;
  text-align: center;
  font-size: 1rem;
  color: white;
  margin: 0 0 1rem 0;
}

.update-profile-input-button, .update-profile-delete-button, .update-profile-back-button {
  border: 2px solid white;
  background-color: #1dc9e7;
  border-radius: 1rem;
  color: white;
  text-decoration: none;
  font-size: 1.1rem;
  font-family: Mina-Bold;
  padding: 0.1rem 0.7rem;
  height: 2.5rem;
  margin-top: 1.4rem;
}

.update-profile-input-button:focus, .update-profile-delete-button:focus, .update-profile-back-button:focus {
  outline: none;
}

.update-profile-back-button {
  background-color: #ff8800;
}

.update-profile-delete-button {
  background-color: red;
}

.update-profile-overlay {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.425);
  z-index: 8;
}

.update-profile-delete-notification-box {
  background-color: rgb(0, 183, 255);
  border-radius: 1rem;
  padding: 1rem;
  z-index: 10;
  position: fixed;
  margin: 40% 1.7rem;
  width: 18rem;
  animation-name: stretch;
  animation-duration: 0.5s; 
  animation-timing-function: ease-out; 
  animation-delay: 0;
  animation-direction: normal;
  animation-iteration-count: initial;
  animation-fill-mode: none;
  animation-play-state: running;
}

@keyframes stretch {
  0% {
    transform: scale(.0);
  }
  100% {
    transform: scale(1);
  }
}

.update-profile-delete-text {
  text-align: center;
  font-size: 1.2rem;
  font-family: Mina-bold;
  color: white;
}

.update-profile-delete-notification-buttons-box {
  display: flex;
  justify-content: center;
}

.update-profile-delete-notification-buttons-box > button {
  margin: 0 1rem;
}

.update-profile-buttons-box > button {
  margin: 0 1rem;
}

.update-profile-delete-final-instruction {
  font-family: Mina;
  font-size: 1rem;
  color: white;
  text-align: center;
}