.loading-container {
  display: flex;
  flex-direction: column;
  z-index: 1;
}

.inside-top-part {
  height: 50vh;
  background-color: #51d9f1;
}

.outside-top-part {
  height: 50vh;
  background-color: white;
  border-bottom-left-radius: 12.5rem;
}

.inside-bottom-part {
  height: 50vh;
  background-color: white;
}

.outisde-bottom-part {
  height: 50vh;
  background-color: rgb(80, 217, 241);
  border-top-right-radius: 12.5rem;
}